<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <display-name>techtonics</display-name>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        </welcome-file-list>
        
        <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>controller.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/register_user</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>controller.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddTalk</display-name>
    <servlet-name>AddTalk</servlet-name>
    <servlet-class>controller.AddTalk</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddTalk</servlet-name>
    <url-pattern>/add_talk</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetTechTalks</display-name>
    <servlet-name>GetTechTalks</servlet-name>
    <servlet-class>controller.GetTechTalks</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetTechTalks</servlet-name>
    <url-pattern>/fetch_tech_talks</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditTechTalk</display-name>
    <servlet-name>EditTechTalk</servlet-name>
    <servlet-class>controller.EditTechTalk</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditTechTalk</servlet-name>
    <url-pattern>/edit_tech_talk</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateTalk</display-name>
    <servlet-name>UpdateTalk</servlet-name>
    <servlet-class>controller.UpdateTalk</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateTalk</servlet-name>
    <url-pattern>/update_talk</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterTalk</display-name>
    <servlet-name>RegisterTalk</servlet-name>
    <servlet-class>controller.RegisterTalk</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterTalk</servlet-name>
    <url-pattern>/register_tech_talk</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FetchRegisteration</display-name>
    <servlet-name>FetchRegisteration</servlet-name>
    <servlet-class>controller.FetchRegisteration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FetchRegisteration</servlet-name>
    <url-pattern>/fetch_registeration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteTalk</display-name>
    <servlet-name>DeleteTalk</servlet-name>
    <servlet-class>controller.DeleteTalk</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteTalk</servlet-name>
    <url-pattern>/delete_tech_talk</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MakeRequest</display-name>
    <servlet-name>MakeRequest</servlet-name>
    <servlet-class>controller.MakeRequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MakeRequest</servlet-name>
    <url-pattern>/make_request</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FetchRequests</display-name>
    <servlet-name>FetchRequests</servlet-name>
    <servlet-class>controller.FetchRequests</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FetchRequests</servlet-name>
    <url-pattern>/fetch_my_requests</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApproveRequest</display-name>
    <servlet-name>ApproveRequest</servlet-name>
    <servlet-class>controller.ApproveRequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApproveRequest</servlet-name>
    <url-pattern>/approve_my_requests</url-pattern>
  </servlet-mapping>
    </web-app>
